.playlists-player {
	background: #000;
	color: #fff;
	padding: 4px 0px 0px 0px;
}
.playlists-iframe {
	height: 370px;
	background: #000;
	margin-bottom: 4px;
}
.playlists-items {
	position: relative;
	bottom: 370px;
}
.playlists-items ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 0;
}
.playlists-items li {
	width: 140px;
	height: 40px;
	margin: 0px 0px 4px 4px;
	background: #313131;
	display: none !important;
	font-family: Verdana;
	font-size: 12px;	
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
	line-height: 40px;
	text-align: center;
}
.playlists-items li.visible {
	display: inline-block !important;
}
.playlists-items li:hover {
	background: #444444;
	cursor: pointer;	
}
.playlists-items li.active {
	background: #9a9a9a;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.playlists-videos .playlists-items li {
	width: 180px !important;
	text-align: left;
	padding: 0px 40px 0px 15px;
	box-sizing: border-box;
	position: relative;
}
.playlists-view {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 40px;
	background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAABJ0lEQVQ4jeXUsUqcURQE4NmAzWZ18QWEBdFYSLRNEbASAmmFdBYJSB4hvYXY21rkAUQbfQ5DQiAIS0gRUGMjrFrkS7H/wvJzfzcBKzPlmblzOecMJ/nv0GoiMJVkPcnzJL2q3E9ymuSk1Wrd/dUPaGMb55pxiR10Jpm9QL/B4KJQ/46XTWavMag9OMbCmGYeRzXNLTbqZku4rglPKm4ab/EO3ap2WNMOsDwye4rPhXaeoYOvY7UzdNEr6L+gHXwskFfVZ5sFbqvifha4/SdjkXgItIMV3DxAy98wM5rj+4JgtJSOyUu5wWp903sF02MsTojNHd4UB4APhrmqoynYP7B271QNM3nQYDzCL+xiuv7+vuMwm+RVkvkkc0l+Z3gcPuVfjsPjxx+UKYwH8JKOawAAAABJRU5ErkJggg==');
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.3;
}
.playlists-view:hover {
	opacity: 0.6;
	transform: 0.4ms easy 0.4ms;
}
.playlists-view.watched {
	opacity: 1;
}

.playlists-prev, .playlists-next {
	width: 40px;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	bottom: 4px;
	z-index: 100001;
	opacity: 0.8;
}
.playlists-prev {
	left: 0px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAeElEQVQ4jd3UzQ1AQBCG4Y2DhGqcNIBoQSuKUYm+uHkdrMTBZM0a2cR3n2ezmR/nfhMgBwagssBKYObIBvRW2JnJEluA2gpbgSY5VghYq8Y8ON5g3dP6LOpVTcy/7FGpKZ+g+k4H0LjBDqBxqyeg747DBbU7X0mzAymuSWfKXk8JAAAAAElFTkSuQmCC');
}
.playlists-next {
	right: 0px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAbUlEQVQ4jdWUsQ2AMAwEI6RIjANVJqBhAFZhmuwRGIySo4CGiCr+SORq6yzLfjvXNMAILIBXyGbg5CYBvVUYeWOTAgE4MulmlU5NS/ca0jWv64o7WJCOLF2KWvZ12OVpoUL0tM/hkQ6o3tdvuABsDUk5DyWdywAAAABJRU5ErkJggg==');
}
.playlists-prev:hover, .playlists-next:hover {
	opacity: 1;
	cursor: pointer;
}
.playlists-prev.disabled, .playlists-next.disabled {
	display: none;
}