<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>{{Title}} смотреть в 4K Ultra HD качестве онлайн бесплатно</title>
	<meta name="description" content="У нас на сайте вы можете смотреть онлайн {{Title}} в 4K Ultra HD качестве бесплатно.">
	<meta name="keywords" content="">
	<meta property="og:site_name" content="Фильмы, мультфильмы, сериалы в 4k Ultra HD качестве смотреть онлайн бесплатно">
	<meta property="og:type" content="article">
	<meta property="og:title" content="{{Title}}>
	<meta property="og:url" content="#">
	<link rel="search" type="application/opensearchdescription+xml" href="#" title="Фильмы, мультфильмы, сериалы в 4k Ultra HD качестве смотреть онлайн бесплатно">
	<link rel="canonical" href="#">
	<link rel="alternate" type="application/rss+xml" title="Фильмы, мультфильмы, сериалы в 4k Ultra HD качестве смотреть онлайн бесплатно" href="#">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="/assets/images/favicon.png" />
	<link href="/assets/style/styles.css" type="text/css" rel="stylesheet" />
	<link href="/assets/style/engine.css" type="text/css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/assets/playlists/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
	<style>
		body.js > div[id*=epom] {
			height: 0px !important;
			padding-top: 0px !important;
			margin-top: 30px !important;
			z-index: 1 !important;
		}

		header#header {
			max-width: none !important;
		}

		@media (max-width: 768px) {
			div[id*=epom].epom-brend {
				margin-top: 70px;
			}

			.krks-in {
				margin-top: 90px;
			}
		}
	</style>
	<div class="krks123 have-brand">
		<div class="shap-outer">
			<header class="shap" id="header">
				<div class="shap-in center clearfix">

					<a href="#" class="logotype" title="На главную">4к фильм онлайн</a>
					<div class="btn-menu"><span class="fa fa-bars"></span></div>
					<div class="menu-overlay" id="menu-overlay">
						<div class="menu-content">
							<div class="menu-item active" id="mainLink">ГЛАВНАЯ</div>
							<div class="menu-item">НОВИНКИ</div>
							<div class="menu-item">ЖАНРЫ</div>
							<div class="menu-item">ФИЛЬМЫ</div>
							<div class="menu-item">МУЛЬТФИЛЬМЫ</div>
							<div class="menu-item">СЕРИАЛЫ</div>

							<div class="btn enter-btn" id="enterBtn">Войти</div>

							<!-- Всплывающее окно -->
							<div id="popupOverlayEnterBtn" class="popup-overlay-enter-btn" style="display: none;">
								<div class="popup-content-enter-btn">
									<button id="adminPanelBtn">Админ-Панель</button>
									<button id="switchAccountBtn">Переавторизация</button>
									<button id="stayOnSiteBtn">Остаться на сайте</button>
								</div>
							</div>
						</div>
					</div>
					<ul class="shtur clearfix" id="nav-menu">
						<li><a href="#" class="active" id="mainLink">Главная</a></li>
						<li><a href="#">новинки</a></li>
						<li><a href="#">жанры</a></li>
						<li><a href="#">фильмы</a></li>
						<li><a href="#">мультфильмы</a></li>
						<li><a href="#">сериалы</a></li>
					</ul>

					<div class="shap-right" id="hd-right">
						<div class="search-wrap">
							<form id="quicksearch" method="post">
								<input type="hidden" name="do" value="search" />
								<input type="hidden" name="subaction" value="search" />
								<div class="search-box">
									<input id="story" name="story" placeholder="Введите название" type="text" />
									<button type="submit" title="Найти"><span class="fa fa-search"></span></button>
								</div>
							</form>
						</div>
						<div class="button show-login" id="loginButton">Войти</div>

						<!-- Всплывающее окно -->
						<div id="popupOverlayLoginButton" class="popup-overlay-login-button" style="display: none;">
							<div class="popup-content-login-button">
								<button id="adminPanelButton">Админ-Панель</button>
								<button id="switchAccountButton">Войти в другой аккаунт</button>
								<button id="stayOnSiteButton">Остаться на сайте</button>
							</div>
						</div>

					</div>

				</div>
			</header>
		</div>

		<!-- END HEADER -->

		<div class="krks-in">


			<!-- END SLIDER NEWS -->


			<div class="cont center">






				<div class="speedbar nowrap">
					<span id="dle-speedbar" itemscope itemtype="https://schema.org/BreadcrumbList"><span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><meta itemprop="position" content="1"><a href="#" itemprop="item"><span itemprop="name">4KFilm.online</span></a></span> &raquo; <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><meta itemprop="position" content="2"><a href="#" itemprop="item"><span itemprop="name">Все фильмы</span></a></span> &raquo; {{Title}}</span>
				</div>
				<div class="clearfix">
					<article class="full ignore-select">
						<div class="poln-main">
							<div class="poln-cols fx-row">
								<div class="poln-mid">
									<div id="vid_vpaut_div" style=" display:hidden;width:0px;height:0px" vid_vpaut_pl="12327"></div>
									<h1 id="s-title">{{Title}} </h1>
									<div class="poln-btns-scroll">
										<div class="poln-btn-scroll btn-scroll" data-scroll="ftabs-header">
											Смотреть <div>Перейти к просмотру</div>
										</div>
										<div class="poln-btn-scroll btn-scroll" data-scroll="full-comms">
											Комменты <div>Обсудить фильм</div>
										</div>
										<div class="poln-btn-scroll need-reg" id="addToBookmarksButton" style="display: none;">
											Добавить <div>в закладки</div>
										</div>

									</div>
									<div class="poln-desc clearfix slice-this" id="s-desc">
										{{Description}}
									</div>
									<div class="poln-list clearfix">
										<ul class="poln-list-col" id="s-list">
											<li><span>Оригинальное название:</span> {{OriginalTitle}}</li>
											<li><span>Год:</span> {{Year}} </li>
											<li><span>Страна:</span> {{Country}} </li>
											<li><span>Жанр:</span> {{Genre}}</li>
											<li><span>Качество:</span> <i style="color:#ff6600">{{Quality}}</i> </li>
											<li><span>Озвучка:</span> {{Sound}} </li>

										</ul>
										<ul class="poln-list-col">
											<li><span>Режиссер:</span> {{Director}}</li>
											<li><span>В Ролях:</span> {{Cast}} </li>
										</ul>
									</div>
								</div>
								<div class="poln-left">
									<div class="uhd"></div>
									<div class="poln-poster">
										<img src="{{CoverImageUrl}}" alt="Дорогой Санта (2024)" />

									</div>
									<div class="poln-screens owl-carousel" id="owl-scr"></div>
								</div>
								<div class="poln-right">
									<div class="poln-rkl">
										<img src="../assets/images/4kuhd-logo.jpg" alt="4kUltraHdLogo" />
										<p>Плеер на сайте показывает в качестве <b>4K Ultra HD 2160p</b> и хорошим переводом, так же просмотр онлайн доступен на всех устройствах включая Смарт ТВ <b>(Smart TV)</b>. Все фильмы у нас без вшитой рекламы и хорошим лицензионным дубляжем. Приятного просмотра.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="poln-tabs tabs-box" id="ftabs">
							<div class="full-taglist icon-l">
								<div class="full-taglist-t"><span class="fa fa-tags"></span>Фильм {{Title}} смотреть онлайн бесплатно в качестве 4K UHD 2160 / HD 1080.</div>
							</div>
							<div class="vdd-element">
								<div class="poln-play tabs-b video-box">
									<iframe width="1200" height="540" src="https://dud.allarknow.online/?token_movie=4bfbc370e7bad4f8fb8a4c8baadd13&token=10b16a40f5793e2d02d06265c13912" frameborder="0" allowfullscreen></iframe>
								</div>

								<!-- <div class="poln-play tabs-b video-box">
									<iframe width="1200" height="540" src="" frameborder="0" allowfullscreen></iframe>
								</div> -->

							</div>
							<div class="poln-ctrl fx-row">
								<div class="tabs-sel"><!-- --><span>Плеер 4K & 1080HD</span></div>
								<!--noindex-->
								<div class="poln-meta icon-l">
									<div class="poln-meta-item need-reg">
										<span class="fa fa-heart-o"></span>Добавить в закладки

									</div>
									<div class="poln-meta-item need-reg">
										<span class="fa fa-exclamation-triangle"></span>Есть жалоба?

									</div>
								</div>
								<!--/noindex-->
							</div>
						</div>
				</div>
			</div>
		</div>


		<noindex><center><div id="vid_vpaut_div" style=" display:hidden;width:0px;height:0px" vid_vpaut_pl="16265"></div></center></noindex>
		<!-- END CONT -->
		<footer class="podv">
			<div class="podv-in center fx-row">

				<div class="podv-col">
					<center><a href="#"><p>Обратная связь</p></a></center>
				</div>
				<div class="podv-col">
					<center><a href="#"><p>Правообладателям</p></a></center>
				</div>
				<div class="podv-btm fx-row fx-middle">
					<div class="podv-copyr">(C) Copyright 4kfilm 2024</div>
				</div>

			</div>

		</footer>

		<!-- END FOOTER -->
	</div>
	<!-- END WRAP-IN -->
	</div>

	<!-- END WRAP -->
	<!--noindex-->




	<div id="overlay" class="overlay"></div>

	<!--/noindex-->

	<script src="/assets/js/libs.js"></script>
	<script src="assets/js/libs.js"></script>

	<script>var fuckAdBlock = undefined;</script>



</body>
</html>
<!-- DataLife Engine Copyright SoftNews Media Group (http://dle-news.ru) -->